#include <zephyr/dt-bindings/pinctrl/esp-pinctrl-common.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-gpio-sigmap.h>
#include <zephyr/dt-bindings/pinctrl/esp32s3-pinctrl.h>

/* Arduino sample equivalent: setPinsPdmRx(42, 41)
 * 42 = PDM clock output, 41 = PDM data input.
 */
&pinctrl {
	i2s0_pdm_rx_default: i2s0_pdm_rx_default {
		group1 {
			pinmux = <I2S0_I_WS_GPIO42>;
		};
		group2 {
			pinmux = <I2S0_I_SD_GPIO41>;
			bias-pull-down;
		};
	};
};

&dma {
	status = "okay";
};

&i2s0 {
	status = "okay";
	pinctrl-0 = <&i2s0_pdm_rx_default>;
	pinctrl-names = "default";
};
